/* 
body{
  font-family:'Roboto', sans-serif;
} */

header{
  padding:16px;
  padding-top:16px;
  padding-bottom: 40px;
  background-color: rgb(184, 45, 45);
}

.hidden{
  display:none;
}


.btn-custom{
  font-family:'Roboto', sans-serif;
  width: 100%;
  min-height: 80px;
}

.total{
  text-align: center;
  font-size: 30px;
}

.border{
  border: solid black 2px;
  margin: 1px;
  border-radius: 5px;
}

.nom-num{
  font-family:'Roboto', sans-serif;
  text-align: center;
}

.num{
  font-family: 'Passion One', cursive;
  text-align: center;
  font-size: 70px;
  color: orange;
}